.Itemlistcontainer {
    margin: 40px;
}

.Item-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Item-card {
    border: 2px solid #EECBB2;
    border-radius: 16px;
    width: 500px;
    margin-top: 64px;
}

.Item-card li {
    margin: 24px;
}

.Item-card img {
    width: 452px;
    border: 2px solid #EECBB2;
    border-radius: 8px;
}

.Item-title {
    font-weight: 700;
    font-size: 24px;
}