header {
    height: 70px;
    background-color: #EECBB2;
    font-size: 18px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

.Nav {
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav li {
    list-style: none;
    text-transform: uppercase;
    display: inline;
    padding-left: 30px;
}

.Brand a {
    display: flex;
    flex-direction: row;
    align-items:center;
    font-size: 24px;
}

.Brand p {
    display: inline;
    padding-left: 16px;
}

.Brand img {
    height: 60px;
}


.App-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cart-icon {
    height: 45px;
  }

.Cart-num {
    background-color: black;
    color:white;
    padding-inline: 5px;
}